<h2 style="visibility:hidden">Daily Forecast</h2>

<div id="forecast-container" class="container">

</div>

<canvas id='chart-container' class="container">

</canvas>

<div id="hourly-forecast">

</div>

<script id="forecast-info-template" type="x-tmpl-mustache">
  <h4>{{currentWeather}}: {{current_weather.temperature}}째F </h4>
  <div>
    Humidity: {{current_weather.humidity}}%
    Wind: {{current_weather.windSpeed}} mph
  </div>
  <table class='table'>
    <thead>
    <tr>
      {{#forecast.timelines.daily}}
      <th>
        {{#formatDate}}{{time}}{{/formatDate}}
        <br/>
        {{#weatherIcon}}{{values.weatherCodeMax}}{{/weatherIcon}}
      </th>
      {{/forecast.timelines.daily}}
    </tr>
    </thead>
    <tbody>
      <tr>
        {{#forecast.timelines.daily}}
          <td>{{#mathRound}}{{values.temperatureMin}}{{/mathRound}}째F | {{#mathRound}}{{values.temperatureMax}}{{/mathRound}}째F</td>
        {{/forecast.timelines.daily}}
      </tr>
      <tr>
        {{#forecast.timelines.daily}}
          <td>{{#mathRound}}{{values.windSpeedAvg}}{{/mathRound}}mph</td>
        {{/forecast.timelines.daily}}
      </tr>
    </tbody>
  </table>
  <div>DataFrom: {{fetch_from}}; Zip: {{postal_code}}</div>
</script>


<!-- todo: display hourly forecast */ -->
<script id="hourly-forecast-template" type="x-tmpl-mustache">
  <table class='table'>
    <thead>
    <tr>
      {{#forecast.timelines.hourly}}
      <th>
        {{#formatHour}}{{time}}{{/formatHour}}
      </th>
      {{/forecast.timelines.hourly}}
    </tr>
    </thead>
    <tbody>
      <tr>
        {{#forecast.timelines.hourly}}
          <td>{{values.temperature}}째F</td>
        {{/forecast.timelines.hourly}}
      </tr>
      <tr>
        {{#forecast.timelines.hourly}}
          <td>{{values.windSpeed}}mph</td>
        {{/forecast.timelines.hourly}}
      </tr>
    </tbody>
  </table>
</script>